[submodule "SimpleOT"]
	path = SimpleOT
	url = https://github.com/mkskeller/SimpleOT.git
	branch = 96f8a97e6c
[submodule "mpir"]
	path = mpir
	url = https://github.com/wbhart/mpir.git
	branch = 55fe6a9f52
